@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<script>
    function include(scriptUrl)
    {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", scriptUrl);
        xmlhttp.onreadystatechange = function(){
            if ((xmlhttp.status == 200) && (xmlhttp.readyState == 4)){
                eval(xmlhttp.responseText);
            }
        };
        xmlhttp.send();
    }
</script>